body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ecf0f1; }

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, img {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  margin-bottom: 1.25rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'bebas-neue';
  text-align: center; }

h2 {
  font-size: 3rem;
  color: #e67e22; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

a {
  color: #e67e22;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  a:hover {
    color: #eb9950; }

/**
 * @description
 * This mixin will enable using the CSS3 value `rem`, which lets you define
 * property-sizes based on the root-element's font-size.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/rem
 * @link spec http://www.w3.org/TR/css3-values/#relative0
 *
 * @param property
 * @param values
 * @param default-font-size int optional
 * @returns
 *   <property>: (<value> * <default-font-size>)px;
 *   <property>: <value>;
 *
 * @example
 *   .selector {
 *     @include x-rem(font-size, 1.3);
 *   }
 *
 * Note: Depending on the font-size of the root-element `rem` calculates a
 * property of a current element. The fallback solution excepts a
 * `default-font-size`-argument which is 16px by default.
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-github, .icon-facebook, .icon-google-plus, .icon-clock, .icon-calendar {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-github:before {
  content: "\e000"; }

.icon-facebook:before {
  content: "\e001"; }

.icon-google-plus:before {
  content: "\e002"; }

.icon-clock:before {
  content: "\e003"; }

.icon-calendar:before {
  content: "\e004"; }

.grid {
  width: 100%;
  overflow: hidden; }

.cell {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cell--w10 {
  width: 10%; }

.cell--w15 {
  width: 15%; }

.cell--w20 {
  width: 20%; }

.cell--w25 {
  width: 25%; }

.cell--w33 {
  width: 33.3333%; }

.cell--w50 {
  width: 50%; }

.cell--w66 {
  width: 66.6666%; }

.cell--w75 {
  width: 75%; }

.cell--w100 {
  width: 100%; }

.wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 60rem;
  padding: 1.25rem; }

.masthead {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  box-shadow: inset 0 0 200px 200px rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #fff; }
  .masthead:after {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border: 3.2rem solid transparent;
    border-top-color: rgba(255, 255, 255, 0.4);
    border-top-width: 1.6rem;
    border-bottom-width: 1.6rem;
    bottom: 0.5rem;
    margin-left: -3.2rem;
    left: 50%; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.top {
  position: absolute;
  top: 5rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.bottom {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

h1 {
  font-family: 'bebas-neue', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  font-size: 6rem; }

body {
  font-family: 'open-sans', 'Helvetica', sans-serif;
  font-size: 16px; }

.info {
  font-size: 2rem; }

.btn {
  text-decoration: none;
  color: white;
  background-color: #3b5998;
  font-size: 1.25rem;
  line-height: 1em;
  padding: 1rem 4.25rem 1rem 1rem;
  display: inline-block;
  position: relative;
  margin: 1rem; }
  .btn:hover {
    text-decoration: none; }

.btn__icon {
  background-color: #29447e;
  height: 3.25rem;
  width: 3.25rem;
  line-height: 3.25rem;
  position: absolute;
  right: 0;
  top: 0; }

.btn--googleplus {
  background-color: #db4a37; }
  .btn--googleplus .btn__icon {
    background-color: #bd3422; }

.speaker {
  text-align: center; }

.speaker__img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .speaker__img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

.speaker__name {
  display: block;
  font-weight: 600; }
