body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2; }

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, img {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  margin-bottom: 1.25rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'bebas-neue';
  text-align: center; }

h2 {
  font-size: 3rem;
  color: #379f7a;
  margin: 0;
  padding: 1.25rem; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

p, li {
  line-height: 1.5em; }

a {
  color: #379f7a;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  a:hover {
    color: #49c096; }

/**
 * @description
 * This mixin will enable using the CSS3 value `rem`, which lets you define
 * property-sizes based on the root-element's font-size.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/rem
 * @link spec http://www.w3.org/TR/css3-values/#relative0
 *
 * @param property
 * @param values
 * @param default-font-size int optional
 * @returns
 *   <property>: (<value> * <default-font-size>)px;
 *   <property>: <value>;
 *
 * @example
 *   .selector {
 *     @include x-rem(font-size, 1.3);
 *   }
 *
 * Note: Depending on the font-size of the root-element `rem` calculates a
 * property of a current element. The fallback solution excepts a
 * `default-font-size`-argument which is 16px by default.
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-github, .icon-facebook, .icon-google-plus, .icon-clock, .icon-calendar {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-github:before {
  content: "\e000"; }

.icon-facebook:before {
  content: "\e001"; }

.icon-google-plus:before {
  content: "\e002"; }

.icon-clock:before {
  content: "\e003"; }

.icon-calendar:before {
  content: "\e004"; }

.grid {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.25rem; }

.cell {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cell--w25 {
  width: 100%; }

.cell--w50 {
  width: 100%; }

.cell--w100 {
  width: 100%; }

@media (min-width: 500px) {
  .cell--w25 {
    width: 50%; } }
@media (min-width: 800px) {
  .cell--w25 {
    width: 25%; }

  .cell--w50 {
    width: 50%; }

  .cell--w100 {
    width: 100%; } }
.wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 70rem;
  padding: 1.25rem; }

.masthead {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  box-shadow: inset 0 0 200px 200px rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #fff;
  /*&:after {
  	position: absolute;
  	width: 0;
  	height: 0;
  	content: '';
  	border: 3.2rem solid transparent;
  	border-top-color: rgba(255,255,255,0.4);
  	border-top-width: 1.6rem;
  	border-bottom-width: 1.6rem;
  	bottom: 0.5rem;
  	margin-left: -3.2rem;
  	left: 50%;
  }*/
  	/*@media(max-width: 850px) {
  		h1 {
  			font-size: 4rem;
  		}
  	}
  
  	@media(max-width: 550px) {
  		h1 {
  			font-size: 3rem;
  		}
  	}*/ }
  .masthead h1 {
    font-size: 2.4rem; }
  @media (min-width: 500px) {
    .masthead h1 {
      font-size: 3rem; } }
  @media (min-width: 700px) {
    .masthead h1 {
      font-size: 4rem; } }
  @media (min-width: 800px) {
    .masthead h1 {
      font-size: 5rem; } }
  .masthead:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(45deg, #f2f2f2 0%, #f2f2f2 25%, transparent 25%, transparent 100%), linear-gradient(-45deg, #f2f2f2 0%, #f2f2f2 25%, transparent 25%, transparent 100%);
    background-size: 1.5rem 1.5rem, 1.5rem 1.5rem;
    padding-top: 1.5rem;
    background-repeat: repeat-x, repeat-x; }

.top, .bottom {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100%; }

.top {
  top: 3rem; }
  @media (min-width: 700px) {
    .top {
      top: 5rem; } }

.bottom {
  bottom: 3rem; }
  @media (min-width: 700px) {
    .bottom {
      bottom: 5rem; } }

h1 {
  font-family: 'bebas-neue', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  font-size: 6rem; }

body {
  font-family: 'open-sans', 'Helvetica', sans-serif;
  font-size: 14px; }
  @media (min-width: 700px) {
    body {
      font-size: 16px; } }

.bottom {
  font-size: 1rem; }
  @media (min-width: 700px) {
    .bottom {
      font-size: 2rem; } }

.link {
  text-decoration: none;
  color: white;
  background-color: #3b5998;
  line-height: 1em;
  padding: 1rem 4.25rem 1rem 1rem;
  display: inline-block;
  position: relative;
  margin: 0.5rem;
  font-size: 0.7rem; }
  @media (min-width: 700px) {
    .link {
      font-size: 1.25rem;
      margin: 1rem; } }
  .link:hover {
    text-decoration: none;
    color: #e6e6e6; }

.link__icon {
  background-color: #29447e;
  height: 2.7rem;
  width: 2.7rem;
  line-height: 2.7rem;
  position: absolute;
  right: 0;
  top: 0; }
  @media (min-width: 700px) {
    .link__icon {
      height: 3.25rem;
      width: 3.25rem;
      line-height: 3.25rem; } }

.link--googleplus {
  background-color: #db4a37; }
  .link--googleplus .link__icon {
    background-color: #bd3422; }

.speaker {
  text-align: center;
  margin-bottom: 2.5rem; }

.speaker__img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .speaker__img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

.speaker__name {
  display: block;
  font-weight: 600; }

.map {
  width: 100%;
  height: 28.125rem; }

.map-area {
  position: relative;
  background-image: -webkit-linear-gradient(45deg, #379f7a 0%, #379f7a 25%, transparent 25%, transparent 100%), -webkit-linear-gradient(-45deg, #379f7a 0%, #379f7a 25%, transparent 25%, transparent 100%);
  background-image: -moz-linear-gradient(45deg, #379f7a 0%, #379f7a 25%, transparent 25%, transparent 100%), -moz-linear-gradient(-45deg, #379f7a 0%, #379f7a 25%, transparent 25%, transparent 100%);
  background-image: -o-linear-gradient(45deg, #379f7a 0%, #379f7a 25%, transparent 25%, transparent 100%), -o-linear-gradient(-45deg, #379f7a 0%, #379f7a 25%, transparent 25%, transparent 100%);
  background-image: linear-gradient(45deg, #379f7a 0%, #379f7a 25%, transparent 25%, transparent 100%), linear-gradient(-45deg, #379f7a 0%, #379f7a 25%, transparent 25%, transparent 100%);
  background-size: 1.5rem 1.5rem, 1.5rem 1.5rem;
  padding-top: 1.5rem;
  background-repeat: repeat-x, repeat-x; }

.map-overlay {
  height: 28.125rem;
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.map-hl {
  color: #fff;
  background-color: #379f7a; }
