<aside itemprop="description">
	<span>Technologieplauscherl Linz: Gemütlich zamkommen und über Technologie, Coding und Projekte reden.</span>
	<ol>
		<li>Jeder Vortrag dauert ca. 30 Minuten</li>
		<li>Pro Plauscherl gibt es 3 oder 4 Vorträge</li>		
		<li>Jeder darf einen Vortrag halten</li>
		<li>Das Thema ist grob "Technology &amp; Coding &amp; Projekte"</li>
		<li>Das Klima ist relaxt, es gibt genügend Pausen zum Plaudern</li>
	</ol>
	<span>Das Technologieplauscherl ist Linz` größte regelmäßige Technologie-Usergroup. Wenn auch du ein Thema hast, das du gerne den anderen näher bringen möchtest, kontaktiere uns am besten über organizers@technologieplauscherl.at. Es gibt keinen Themen-Schwerpunkt, wir finden alles leiwand was mit Technik und Technologie zu tun hat.</span>
</aside>
