<aside itemprop="description">
	<p>Technologie-Plauscherl Linz: Mit Freunden zamkommen und über Technologie, Coding und Projekte reden.</p>
	<ol>
		<li>Jeder Vortrag dauert 15-30 Minuten</li>
		<li>Jeder darf einen Vortrag halten</li>
		<li>Das Thema ist grob "Technology &amp; Coding &amp; Projekte"</li>
		<li>Das Klima ist relaxt, es gibt genügend Pausen zum Plaudern</li>
	</ol>
	<p>Deinen Vortrag am besten auf unserer <a href="https://www.facebook.com/groups/technologie.plauscherl/">Facebook Pinnwand</a> vorab bekanntgeben. Bei den "trial-runs" hat sich gezeigt, dass die Zeit an einem Abend für ca. vier bis fünf Vorträge reicht.</p>
</aside>