
  <footer>
    <p class="wrapper">
      2018 - Technologieplauscherl Linz  - <a href="/">Home</a> - <a href="/feed">RSS</a> - <a href="http://twitter.com/plauscherl">Twitter</a>  - <a href="https://github.com/technologieplauscherl">GitHub</a> - <a href="https://www.youtube.com/channel/UCm-I-sGS8ZivBDHB9erkjCg">YouTube</a> - <a href="/events.ics">.iCal</a>
    </p>
  </footer>
  <script>
  (function(s, xhr) {

    var cssPath = '/css/fonts.css';

    if (s.getItem('fcache2') === null) {
      var http = new xhr();
      http.open('GET', '//' + location.host + cssPath);
      http.send();
      http.onload = function() {
        as(this.responseText);
        s.setItem('fcache2', this.responseText);
      }
    } else {
      as(s.getItem('fcache2'));
    }

  })(window.localStorage, XMLHttpRequest);
</script>

<script type="text/javascript">

  window.addEventListener('DOMContentLoaded', function () {

    function updateOnlineStatus () {
      if (navigator.onLine) {
        document.body.classList.remove('offline');
      } else {
        document.body.classList.add('offline');
      }
    };

    function updateAnchors () {

      var prefetched = {% include prefetched.json.liquid %};
      var anchors = document.querySelectorAll('a');

      for (var i = 0; i < anchors.length; i++) {

        if (prefetched.indexOf(anchors[i].getAttribute('href')) !== -1) {

          anchors[i].setAttribute('data-prefetched', 'yes');

        } else {

          anchors[i].setAttribute('data-prefetched', 'no');

        }
      }

    }

    function setupServiceWorker () {

      if (navigator.serviceWorker) {

        navigator.serviceWorker.register('/service-worker.js');

      }

    }

    window.addEventListener('online',  updateOnlineStatus);
    window.addEventListener('offline', updateOnlineStatus);

    updateAnchors();
    updateOnlineStatus();
    setupServiceWorker();

  });

</script>
