<head>
	<meta charset="UTF-8">
	<title>{{site.title}}</title>

	<meta name="description" content="{{site.description}}">
	<meta name="keywords" content="{{site.keywords}}">
	<meta name="theme-color" content="#49c096">
	<meta name="google-site-verification" content="pYVLeFwZuLqAwZGkiLch6r_mhe15tH3DCv1NSEEOqCE" />
	<meta name="google-site-verification" content="uF0j4H_YphrtLmukjDEHQmNNHoIJVkXOPLv38d0XjMU" />
	<link rel="stylesheet" href="/css/main.css?3">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="alternate" type="application/rss+xml" title="Technologieplauscherl.at » Updates" href="https://www.technologieplauscherl.at/feed.xml">
	<link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png">
	<link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
	<script type="text/javascript">
    var as = function (f) {
      if(document.getElementById('font-css') !== null) {
        return;
      }
      var sc = document.getElementsByTagName('script')[0];
      var st = document.createElement('style');
      st.id = 'font-css';
      st.setAttribute('type', 'text/css');
      st.innerHTML = f;
      sc.parentNode.insertBefore(st, sc);
    }

    if (localStorage.getItem('fcache2') !== null) {
      as(localStorage.getItem('fcache2'));
    }
  </script>

</head>
