<h2>Location</h2>

<address itemprop="location" itemscope itemtype="http://schema.org/Place">
	<span class="n" itemprop="name">{{include.location.name}}</span>
	<div itemprop="address">
		<span class="street-address">{{include.location.address}}</span>
		<span class="postal-code">{{include.location.zip}}</span> <span class="locality">{{include.location.city}}</span>
	</div>
</address>
{%if include.location.map %}
<iframe height='500' src='{{include.location.map}}'></iframe>
Map &copy; <a href="http://www.openstreetmap.org">OpenStreetMap</a> contributors
{% endif %}
{%if include.location.oldmap %}
{% include oldmap.html map=include.location.oldmap %}
{% endif %}