<h2>Location</h2>

<address itemprop="location" itemscope itemtype="http://schema.org/Place">
	<span class="n" itemprop="name">{{include.location.name}}</span>
	<div itemprop="address">
		{%if include.location.addition %}
		<span class="street-address">{{include.location.addition}}</span>
		{% endif %}
		<span class="street-address">{{include.location.address}}</span>
		<span class="postal-code">{{include.location.zip}}</span> <span class="locality">{{include.location.city}}</span>
	</div>
	<span class="n"><a href="https://www.google.com/maps/search/?api=1&query={{ include.location.oldmap.lat }},{{ include.location.oldmap.lng }}">Routenplanung mit Google</a></span>
	{% if include.location.directionslink %}
		<span class="n"><a href="{{include.location.directionslink}}">Anfahrtsbeschreibung</a></span>
	{% endif %}
</address>
{% comment -%}
Generate OpenStreetMap Embedding from coordinates
{% endcomment -%}
{% assign lat = include.location.oldmap.lat %}
{% assign lng = include.location.oldmap.lng %}
{% assign delta = 0.005 %}

{% assign min_lng = lng | minus: delta %}
{% assign min_lat = lat | minus: delta %}
{% assign max_lng = lng | plus: delta %}
{% assign max_lat = lat | plus: delta %}

<iframe width="425" height="350"
	frameborder="0" scrolling="no" 
	marginheight="0" marginwidth="0" 
	src="https://www.openstreetmap.org/export/embed.html?bbox={{ min_lng }}%2C{{ min_lat }}%2C{{ max_lng }}%2C{{ max_lat }}&amp;layer=mapnik&amp;marker={{ lat }}%2C{{ lng }}" 
	style="border: 1px solid black">
</iframe>