<div class="masthead">
	<div class="top">
		<h1 itemprop="name">Technologieplauscherl</h1>
	</div>

	{% assign post = site.plauscherl | last %}

	<div class="bottom">
        {% if post.video %}
            <iframe class="livestream" width="900" height="500" src="https://www.youtube.com/embed/{{post.video}}?ecver=1" frameborder="0" allowfullscreen></iframe>
        {% endif %}


		{% if page.end %}
		<p class="info">
			Danke für die Vorträge an
		</p>
		<ul class="no-bullets">
			{% for speaker in post.speakers %}
			<li>{{speaker.name}}</li>
			{% endfor %}
		</ul>
		{% else %}
		{% include speakers.html %}
		{% endif %}
		<p class="info">
			{% unless page.dateset %}
			Nächstes Treffen:<br/>
			Ist in Planung
			{% endunless %}
			{% unless page.end %}
				Nächstes Treffen:<br>
				<span itemprop="startDate" content="{{post.startDateIso8601}}">
          <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg> {{post.datestring}}
          <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock"></use></svg> {{post.timestring}} Uhr
        </span>
				<script type="application/ld+json">
				{
				  "@context": "http://schema.org",
				  "@type": "Event",
				  "name": "{{post.title}}",
				  "startDate" : "{{post.startDateIso8601}}",
				  "url" : "http://technologieplauscherl.at",
				  "location" : {
				    "@type" : "Place",
				    "name" : "{{post.location.name}}",
				    "address" : "{{post.location.address}}, {{post.location.zip}} {{post.location.city}}"
				  }
				}
				</script>
			{% endunless %}
		</p>

		{% if page.end %}
		<a href="https://www.linkedin.com/groups/12659872/" target="_blank" class="link link--big link--linkedin">
			Planung auf LinkedIn
			<svg class="link__icon">
				<use xlink:href="#icon-linkedin"></use>
			</svg>
		</a>

		<a href="http://www.meetup.com/Technologieplauscherl-Linz/" target="_blank" class="link link--big link--meetup">
			Wir sind auf Meetup!
			<svg class="link__icon">
				<use xlink:href="#icon-meetup"></use>
			</svg>
		</a>
		{% endif %}

		{% unless page.end %}
			{% if post.event %}
				{% if post.event.facebook %}
				<a href="https://www.facebook.com/events/{{post.event.facebook}}" class="link link--big link--facebook">
					Termin auf Facebook
					<svg class="link__icon">
						<use xlink:href="#icon-facebook"></use>
					</svg>
				</a>
				{% endif %}
				{% if post.event.meetup %}
				<a href="http://www.meetup.com/Technologieplauscherl-Linz/events/{{post.event.meetup}}" class="link link--big link--meetup">
					Termin auf Meetup!
					<svg class="link__icon">
						<use xlink:href="#icon-meetup"></use>
					</svg>
				</a>
				{% endif %}
			{% endif %}
		{% endunless %}
	</div>
</div>
