<nav class="menu">
  <a class="menu__item" href="/" title="Home">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"></use></svg>
  </a>
  <a class="menu__item" href="/archiv/" title="Archiv">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-books"></use></svg>
  </a>
  <a class="menu__item" href="/community-news/" title="Community News">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bullhorn"></use></svg>
  </a>
  <a class="menu__item" href="/stats/" title="Statistik">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-stats-bars2"></use></svg>
  </a>
  <a class="menu__item" href="/faq/" title="FAQ">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-help"></use></svg>
  </a>
  <a class="menu__item" href="/history/" title="Geschichte">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-monument"></use></svg>
  </a>
</nav>
