<nav class="menu">
  <a class="menu__item" href="/" title="Startseite">
    <svg class="link__icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"><title>Startseite</title></use></svg>
  </a>
  <a class="menu__item" href="/archiv/" title="Archiv">
    <svg class="link__icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-books"><title>Archiv</title></use></svg>
  </a>
  <a class="menu__item" href="/community-news/" title="Community News">
    <svg class="link__icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bullhorn"><title>Community News</title></use></svg>
  </a>
  <a class="menu__item" href="/stats/" title="Statistik">
    <svg class="link__icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-stats-bars2"><title>Statistik</title></use></svg>
  </a>
  <a class="menu__item" href="/faq/" title="FAQ" aria-label="Häufige Fragen">
    <svg class="link__icon" role="img" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-help"><title>FAQ</title></use></svg>
  </a>
  <a class="menu__item" href="/history/" title="Geschichte">
    <svg class="link__icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-monument"><title>Geschichte</title></use></svg>
  </a>
  <button class="menu__item menu__btn" id="dark-mode-toggle" title="Light/Dark Mode" aria-label="Toggle Dark Mode">
    <svg class="link__icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-moon"><title>Dark Mode</title></use></svg>
  </button>
</nav>
