<nav class="menu">
  <a class="menu__item" href="/">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"></use></svg>
  </a>
  <a class="menu__item" href="/archiv/">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-books"></use></svg>
  </a>
  <a class="menu__item" href="/community-news/">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bullhorn"></use></svg>
  </a>
  <a class="menu__item" target="_blank" href="https://technologieplauscherl.herokuapp.com/">
    <svg class="link__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-slack"></use></svg>
  </a>
</nav>
