<div class="speaker">
	<img src="{{include.speaker.img}}" alt="{{include.speaker.name}}" aria-hidden="true" class="speaker__img">
	<div class="speaker__info">
		<span class="speaker__name" itemprop="performer">{{include.speaker.name}}</span>
		{% if include.speaker.talk %}
			<div class="speaker__session">
				{% if include.speaker.talklink %}
					<a href="{{include.speaker.talklink}}" 
						{% if include.speaker.abstract && include.speaker.abstract != empty %}data-abstract="{{include.speaker.abstract}}"{% endif %}
					>{{include.speaker.talk}}</a>
				{% else %}
					<span class="speaker__talk-title" 
						{% if include.speaker.abstract && include.speaker.abstract != empty %}data-abstract="{{include.speaker.abstract}}"{% endif %}
					>{{include.speaker.talk}}</span>
				{% endif %}
			</div>
			{% if include.speaker.language == "en" %}
				<img class="speaker__language" src="/img/english-language.svg" width="40" height="20" alt="Vortrag ist auf Englisch / Talk is in English" title="Vortrag ist auf Englisch / Talk is in English">
			{% else %}
				<img class="speaker__language" src="/img/german-language.svg" width="40" height="20" alt="Vortrag ist auf Deutsch / Talk is in German" title="Vortrag ist auf Deutsch / Talk is in German">
		    {% endif %}
		{% endif %}
		{% assign count = include.count | default: include.speaker.count %}
		{% if count %}
		<span class="speaker__count">{{count}}</span>
		{% endif %}
	</div>
</div>
