.adr {
	width: 100%;
	margin: 0 auto;
	padding: 1.25rem;
	position: absolute;
	right: 0;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.7);
	font-style: normal;
	color: #fff;
}

.n, .street-address {
	display: block;
}

@media(min-width: 40em) {
	.adr {
		width: 20rem;
		height: $mapHeight;
	}
}

@media(min-width: 60em) {
	.adr {
		width: 30rem;
	}
}

address {
	font-style: normal;
	margin-bottom: 0.5rem;
}
