.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

@media(min-width: 800px) {
  .wrapper .cards {
    margin: -1rem;
  }
}

.card {
  min-width: 18rem;
  max-width: 22rem;
  height: 13rem;
  margin: 1rem;
  flex: 1 0 auto;
  width: 100%;
  color: white;
  position: relative;
  border: 1px solid #f6f6f6;
  overflow: hidden;
}

.card:hover {
  color: white;
}

.card__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  opacity: 0.7;
  transition: all 0.4s ease;
}

.card:hover .card__bg {
  opacity: 1;
  transform: scale(1.05);
}

.card__info {
  background-color: $brand;
  padding: 0.3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__number {
  position: absolute;
  right: 0.5rem;
  font-size: 2rem;
}
