.top, .bottom {
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.3);
}

.top {
	padding-top: 3rem;
	padding-bottom: 1rem;

	@media(min-width: 800px) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

.bottom {
	padding-bottom: 3rem;

	@media(min-width: 800px) {
		padding-bottom: 5rem;
	}
}
