.top, .bottom {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	width: 100%;
}

.top {
	top: 3rem;
	
	@media(min-width: 700px) {
		top: 5rem;
	}
}

.bottom {
	bottom: 3rem;

	@media(min-width: 700px) {
		bottom: 5rem;
	}
}