.masthead {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 30rem;
	background-image: url(/img/bg_4_g.jpg);
	background-size: cover;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
	position: relative;
	background-repeat: no-repeat;
	background-position: 40% 50%;
	text-align: center;
	color: #fff;
}

.masthead:before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(45deg, $bg 0%, $bg 25%, transparent 25%, transparent 100%),
		linear-gradient(-45deg, $bg 0%, $bg 25%, transparent 25%, transparent 100%);
  background-size: 1.5rem 1.5rem, 1.5rem 1.5rem;
  padding-top: 1.5rem;
  background-repeat: repeat-x, repeat-x;
}
