.slide {
  width: 1440px;
  height: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2000;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1.5s ease;
}

.slide.is-active {
  opacity: 1;
}

.backdrop,
.slides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1999;
  background-color: $bg;
}

.backdrop {
  overflow: hidden;
}

.slide__info,
.slide .speakers {
  flex-direction: column;
  width: 50%;
}

.slide .speaker {
  margin-bottom: 2rem;
  display: table;

  > * {
    display: table-cell;
  }
}

.slide.flex {
  display: flex;
  flex-wrap: wrap;
}

.full {
  flex: 1 0 100%;
}

.slide__info {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.slide__info h2 {
  text-align: right;
  padding-right: 0;
}

.slide__info img {
  max-width: 75%;
}

.slide__item {
  margin: 2rem;
}
