.speaker {
	text-align: center;
	display: table;
	width: 100%;
}

.speaker__imgcontainer {
	border-radius: 50%;

	width: 160px;
	width: 160px;
	display: table-cell;
	vertical-align: middle;
	margin-right: 1.5rem;

	overflow: hidden;

}


.speaker__img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	border-radius: 50%;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 100%;

	&:hover {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
}

.speaker__info {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.speaker__name {
	display: block;
	font-weight: 600;
}

.speaker__session {
}

@media(min-width: 500px) {

	.speaker {
		display: block;
		margin-bottom: 2.5rem;
	}

	.speaker__img {
		width: auto;
		height: auto;
		display: inline-block;
		margin-right: 0;
	}

	.speaker__info {
		display: block;
	}
}
