.speakers {
	max-width: 75rem;
	margin: 0 auto;
	padding: 2rem;

	@media(min-width: 500px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.wrapper .speakers {
	padding-left: 0;
	padding-right: 0;
}

.speaker {
	text-align: center;
	display: table;
	width: 100%;
	position: relative;
}

.speaker__img {
	border-radius: 50%;

	width: 100px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	margin-right: 1.5rem;
	object-fit: cover;
}

.speaker__count {
	background-color: #f71111;
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	color: white;
	left: 86px;
	line-height: 25px;
	display: block;
}

.speaker__info {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.speaker__name {
	display: block;
	font-weight: 600;
}

.speaker__session {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.speaker__abstract-details {
	display: inline-block;
	position: relative;
}

.speaker__abstract-summary {
	list-style: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	padding: 0;
	margin: 0 0 0 0.25rem;
}



.speaker__abstract-summary:focus {
	outline: 0.125rem solid #49c096;
	outline-offset: 0.125rem;
	border-radius: 0.125rem;
}

.speaker__abstract-icon {
	width: 1rem;
	height: 1rem;
}

.speaker__abstract {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	border: 0.25rem solid #ddd;
	border-radius: 0.25rem;
	padding: 0.75rem 1rem;
	margin-top: 0.5rem;
	min-width: 15rem;
	max-width: 20rem;
	z-index: 100;
	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
	font-size: 0.875rem;
	line-height: 1.5;
	color: #333;
	text-shadow: none;
}

@media(min-width: 500px) {

	.speaker {
		display: block;
		flex: 1;
		padding: 0 1rem;
	}

	.speakers--stats .speaker {
		flex-basis: 180px;
	}

	.speaker__count {
		top: 60%;
		left: 80%;
		transform: translate(-50%, -50%);
	}

	.speaker__img {
		display: inline-block;
		margin-right: 0;
		width: 160px;
		height: 160px;
	}

	.speaker__info {
		display: block;
	}

	.speaker__abstract {
		left: 50%;
		right: auto;
		transform: translateX(-50%);
		margin: 0.5rem 0 0;
		width: auto;
		max-width: 20rem;
		min-width: 15rem;
	}
}
