.grid {
	width: 100%;
	overflow: hidden;
	margin-bottom: 1.25rem;
}

.cell {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin createGridCells($cellWidths: (10, 15, 20, 25, 33.3333, 50, 66.6666, 75, 100), $breakPoint: 800px) {
	@each $w in $cellWidths {
		.cell--w#{floor($w)} {
			width: 100%;
		}
	}

	@media(min-width: 500px) {
		.cell--w25 {
			width: 50%;
		}
	}

	@media(min-width: $breakPoint) {
		@each $w in $cellWidths {
			.cell--w#{floor($w)} {
				width: $w * 1%;
			}
		}		
	}
}

@include createGridCells((25, 50, 100));