body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: $bg;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, img {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  margin-bottom: 1.25rem;
}

ol, ul {
	padding-left: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'bebas-neue';
	text-align: center;
}


h1 {
	font-size: 2.4rem;
	font-weight: normal;
	text-transform: uppercase;
}


@media(min-width: 500px) {
	h1 {
		font-size: 3rem;
	}
}

@media(min-width: 700px) {
	h1 {
		font-size: 4rem;
	}
}

@media(min-width: 800px) {
	h1 {
		font-size: 5rem;
	}
}

h2 {
	font-size: 3rem;
	color: $pumpkin;
	margin: 0;
	padding: 1.25rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

p, li {
	line-height: 1.5em;
}

a {
	color: $pumpkin;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;

	&:hover {
		color: lighten($pumpkin, 10);
	}
}