body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: #ecf0f1;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, img {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  margin-bottom: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'bebas-neue';
	text-align: center;
}

h2 {
	font-size: 3rem;
	color: $pumpkin;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

a {
	color: $pumpkin;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;

	&:hover {
		color: lighten($pumpkin, 10);
	}
}