h1 {
	font-family: 'bebas-neue', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	font-size: 6rem;
}

body {
	font-family: 'open-sans', 'Helvetica', sans-serif;
	font-size: 16px;
}

.info {
	font-size: 2rem;
}