$mapHeight: 28.125rem;

.map {
	width: 100%;
	height: $mapHeight;
}

.map-area {
	position: relative;
	background-image: -webkit-linear-gradient(45deg,  $pumpkin 0%,  $pumpkin 25%,  transparent 25%,  transparent 100%),
					  -webkit-linear-gradient(-45deg,  $pumpkin 0%,  $pumpkin 25%,  transparent 25%,  transparent 100%);
	background-image: -moz-linear-gradient(45deg,  $pumpkin 0%,  $pumpkin 25%,  transparent 25%,  transparent 100%),
					  -moz-linear-gradient(-45deg,  $pumpkin 0%,  $pumpkin 25%,  transparent 25%,  transparent 100%);
	background-image: -o-linear-gradient(45deg, $pumpkin  0%, $pumpkin  25%, transparent  25%, transparent  100%),
					  -o-linear-gradient(-45deg,  $pumpkin 0%,  $pumpkin 25%,  transparent 25%,  transparent 100%);
	background-image: linear-gradient(45deg,  $pumpkin 0%,  $pumpkin 25%,  transparent 25%,  transparent 100%),
					  linear-gradient(-45deg,  $pumpkin 0%,  $pumpkin 25%,  transparent 25%,  transparent 100%);
	background-size: 1.5rem 1.5rem, 1.5rem 1.5rem;
	padding-top: 1.5rem;
	background-repeat: repeat-x, repeat-x;
}

.map-overlay {
	height: $mapHeight;
	width: 30%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
}

.map-hl {
	color: #fff;
	background-color: $pumpkin;
}