.speaker {
	text-align: center;
	margin-bottom: 2.5rem;
}

.speaker__img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	border-radius: 50%;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	&:hover {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
	}
}

.speaker__name {
	display: block;
	font-weight: 600;
}

.speaker__session {
}