---
layout: default
---
<div class="wrapper">
	<h1 itemprop="name">{{page.title}}</h1>
	<p class="info">
		<span itemprop="startDate" content="{{ page.date | date: "%Y-%m-%d" }}T{{page.timestring}}">
			<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg> {{page.datestring}}
			<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock"></use></svg> {{page.timestring}} Uhr
		</span>
	</p>
	<h2>Sessions</h2>

	<section class="speakers">
		{% for speaker in page.speakers %}
			{% include speaker.html speaker=speaker %}
		{% endfor %}
	</section>

	{{content}}
	
	{% if page.video %}
		<style type="text/css">
			
			/* fluid video width taken from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
			section.video {
				text-align: center;	
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				padding-top: 25px;
				height: 0;
			}
			
			section.video iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		</style>

		<section class="video">
			<iframe width="560" height="349" src="https://www.youtube.com/embed/{{page.video}}?ecver=1" frameborder="0" allowfullscreen></iframe>
		</section>
	{% endif %}
	
	<div class="buttons">
	{% if page.event.facebook %}
	<a href="https://www.facebook.com/events/{{page.event.facebook}}" class="link link--big link--facebook">
		Event auf Facebook
		<svg class="link__icon">
			<use xlink:href="#icon-facebook"></use>
		</svg>
	</a>
	{% endif %}
	{% if page.event.meetup %}
	<a href="http://www.meetup.com/Technologieplauscherl-Linz/events/{{page.event.meetup}}" class="link link--big link--meetup">
		Termin auf Meetup!
		<svg class="link__icon">
			<use xlink:href="#icon-meetup"></use>
		</svg>
	</a>
	{% endif %}
	{% if page.pictures %}
	<a href="https://drive.google.com/folderview?id={{page.pictures}}" class="link link--big link--pictures">
		Fotos vom Event
		<svg class="link__icon">
			<use xlink:href="#icon-camera"></use>
		</svg>
	</a>
	{% endif %}
			
	</div>

	{% if page.location %}
	{% include location.html location=page.location %}
	{% endif %}

	{% if page.sponsor %}
	<h2>Sponsoring</h2>
	<p>
		Vielen Dank an {{ page.sponsor }} für die Verpflegung!
	</p>
	{% endif %}
</div>
