---
layout: default
---
<main itemscope itemtype="http://schema.org/Event">
	<div class="wrapper">
		<h1 itemprop="name">{{page.title}}</h1>
		<p class="info">
			<span itemprop="startDate" content="{{post.startDateIso8601}}">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use>
			</svg>
			{{page.datestring}}
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock"></use>
			</svg>
			{{page.timestring}} Uhr
			</span>
		</p>
		<h2>Sessions</h2>

		<section class="speakers">
			{% for speaker in page.speakers %}
			{% include speaker.html speaker=speaker %}
			{% endfor %}
		</section>

		{{content}}

		{% if page.video %}
		<section class="video">
			<iframe width="560" height="349" src="https://www.youtube.com/embed/{{page.video}}?ecver=1" frameborder="0"
					allowfullscreen></iframe>
		</section>
		{% endif %}

		<div class="buttons"><img src="../../../../Users/Alexander Rosemann/Downloads/emmanuel.jpg"/>
			{% if page.event.facebook %}
			<a href="https://www.facebook.com/events/{{page.event.facebook}}" class="link link--big link--facebook">
				Event auf Facebook
				<svg class="link__icon">
					<use xlink:href="#icon-facebook"></use>
				</svg>
			</a>
			{% endif %}
			{% if page.event.meetup %}
			<a href="http://www.meetup.com/Technologieplauscherl-Linz/events/{{page.event.meetup}}"
			   class="link link--big link--meetup">
				Termin auf Meetup!
				<svg class="link__icon">
					<use xlink:href="#icon-meetup"></use>
				</svg>
			</a>
			{% endif %}
			{% if page.pictures %}
			<a href="https://drive.google.com/folderview?id={{page.pictures}}" class="link link--big link--pictures">
				Fotos vom Event
				<svg class="link__icon">
					<use xlink:href="#icon-camera"></use>
				</svg>
			</a>
			{% endif %}

		</div>

		{% if page.location %}
		{% include location.html location=page.location %}
		{% endif %}

		{% if page.sponsor %}
		<h2>Sponsoring</h2>
		<p>
			Vielen Dank an {{ page.sponsor }} für die Verpflegung!
		</p>
		{% endif %}
	</div>
</main>
