---
layout: default
---

{% assign post = site.plauscherl | last %}

{% assign buildTimeInSecondsInEpoch = site.time | date: "%s" | plus: 0 %}
{% assign plauscherlTimeInSecondsInEpoch = post.startDateIso8601 | date: "%s" | plus: 0 %}
{% assign plauscherlEnded = false %}
{% if plauscherlTimeInSecondsInEpoch < buildTimeInSecondsInEpoch %}
{% assign plauscherlEnded = true %}
{% endif %}


<main itemscope itemtype="http://schema.org/Event">
	{% include masthead.html ended=plauscherlEnded %}
	<div class="wrapper">
		{% unless plauscherlEnded %}
		{% if post.location %}
		{% include location.html location=post.location %}
		{% endif %}

		{% if post.sponsor %}
		<h2 id="sponsoring">Sponsoring</h2>
		<p>
			Vielen Dank an {{ post.sponsor }} für die Verpflegung!
		</p>
		{% endif %}

		{% endunless %}

		<h2 id="info">Info</h2>

		{% include description.html %}


		<h2 id="previous-plauscherls">Vorherige Plauscherl</h2>

		<div class="cards">
			{% for card in site.plauscherl reversed %}
			{% if plauscherlEnded %}
			{% if forloop.index < 7 %}
			{% include plauscherl-card.html %}
			{% endif %}
			{% else %}
			{% if forloop.index > 1 and forloop.index < 8 %}
			{% include plauscherl-card.html %}
			{% endif %}
			{% endif %}

			{% endfor %}
		</div>
		<a href="/archiv/" class="link link--big">
			Zum Archiv
			<svg class="link__icon">
				<use xlink:href="#icon-books"></use>
			</svg>
		</a>
	</div>
</main>
