---
layout: default
---

{% include masthead.html %}
<div class="wrapper">

	<section class="grid">
		<h2>Sessions</h2>
		{% unless page.end %}
		
		{% for post in site.posts %}
			{% if post.name == page.current %}
				{% for speaker in post.speakers %}
					{% include speaker.html speaker=speaker %}
				{% endfor %}
			{% endif %}
		{% endfor %}
		{% endunless %}
		{% unless page.full %}
		<article class="cell cell--w25" itemprop="subEvent" itemscope itemtype="http://schema.org/Event">
			<div class="speaker">
				<img src="img/speaker_male_no_img.jpg" alt="" class="speaker__img">
				<div class="speaker__info">
					<span class="speaker__name" itemprop="performer">Du?</span>
					<div class="speaker__session" itemprop="name">
						Dein Vortragsthema?<br/>
						Melde dich auf unserer <a href="https://www.facebook.com/groups/technologie.plauscherl/">Facebook-Page</a>, <a href="mailto:organizers@technologieplauscherl.at">per E-Mail</a><br>
						oder via <a href="https://github.com/technologieplauscherl/technologieplauscherl.github.io/edit/master/index.html">GitHub Pull Request</a>
					</div>
				</div>
			</div>
		</article>
		{% endunless %}
	</section>

	{% include description.html %}


	{% unless page.end %}
		
	{% for post in site.posts %}
		{% if post.name == page.current %}
			{% if post.location %}
			{% include location.html location=post.location %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% for post in site.posts %}
		{% if post.name == page.current %}
			{% if post.sponsor %}
			<h2>Sponsoring</h2>
			<p>
				Vielen Dank an {{ post.sponsor }} für die Verpflegung!
			</p>
			{% endif %}
		{% endif %}
	{% endfor %}

	{% endunless %}

	<h2>Vorherige Plauscherl</h2>

	<ul>
	{% for post in site.posts %}
		<li><a href="{{post.url}}">{{post.title}} - {{post.datestring}}</a> - {{post.location.name}}</li>
	{% endfor %}
	</ul>
</div>
