---
layout: default
---

{% include masthead.html %}
<div class="wrapper">
	{% unless page.end %}
	{% if post.location %}
	{% include location.html location=post.location %}
	{% endif %}

	{% if post.sponsor %}
	<h2>Sponsoring</h2>
	<p>
		Vielen Dank an {{ post.sponsor }} für die Verpflegung!
	</p>
	{% endif %}

	{% endunless %}

	{% assign post = site.plauscherl | last %}

	<h2>Info</h2>
	
	{% include description.html %}


	<h2>Vorherige Plauscherl</h2>

	<div class="cards">
	{% for card in site.plauscherl reversed %}
		{% unless forloop.first or forloop.index > 7 %}
		{% include plauscherl-card.html %}
		{% endunless %}
	{% endfor %}
	</div>
	<a href="/archiv/" class="link link--big">
		Zum Archiv
		<svg class="link__icon">
			<use xlink:href="#icon-books"></use>
		</svg>
	</a>
</div>
