.visually-hidden {
	position: absolute;
	left: -1000%;
	clip: rect(0 0 0 0);
	overflow: hidden;
	height: 1px;
	width: 1px; 
  	margin: -1px;
  	padding: 0; 
  	border: 0; 
}

.no-bullets {
	list-style-type: none;
}
