:root {
  --bg-color: #{$bg-light};
  --text-color: #{$text-light};
}

body.dark-mode {
  --bg-color: #{$bg-dark};
  --text-color: #{$text-dark};
}

body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: $bg;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: inherit;
}

h1, h2, p, ul, ol, blockquote, img {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  margin-bottom: 1.25rem;
}

h1 {
  margin-top: 2rem;

  @media(min-width: 700px) {
    margin-top: 0;
  }
}

ol, ul {
	padding-left: 1.25rem;
}

h1, h2 {
	font-family: 'baby-neue';
	text-align: center;
}


h1 {
	font-size: 2rem;
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5rem;
	color: $pumpkin;
	margin: 0;
	padding: 1.25rem;
}

@media(min-width: 500px) {
	h1 {
		font-size: 3rem;
	}

  h2 {
    font-size: 2rem;
  }
}

@media(min-width: 700px) {
	h1 {
		font-size: 4rem;
	}

  h2 {
    font-size: 3rem;
  }
}

@media(min-width: 800px) {
	h1 {
		font-size: 5rem;
	}
}


p, li {
	line-height: 1.5em;
}

a {
	color: $pumpkin;
	font-weight: 600;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: lighten($pumpkin, 10);
	}
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 10px;
  margin-left: 20px;
}
