$brand: #379F7A;
$emerald: #2ecc71;
$pumpkin: #e67e22;
$neph: #27ae60;

$pumpkin: $brand;

$bg-light: #fcfcfc;
$text-light: #454545;

$bg-dark: #1a1a1a;
$text-dark: #fcfcfc;

$bg: var(--bg-color);
$text-color: var(--text-color);
